<div class="col">
	<div class="row">
		<div class="col my-3">
			<a (click)="goHome()" class="btn btn-primary btn-sm" >Home</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>Add a new author:</h5>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form (submit)="createAuthor()">
				<!-- use the json pipe to see how newauthor changes in real time -->
				<p> {{ author | json }} </p>
				<div class="form-group row">
					<label class="col-3" path="name">Name:</label>
					<input type="text" name="author.name" [(ngModel)]="author.name" />
				</div>
				<a (click)="goHome()" class="btn btn-primary btn-sm" >Cancel</a><input class="btn btn-primary btn-sm" type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>